<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Book Appointment</title>
</head>
<body>
    <header>
        <h1>NY Health Scheduler</h1>
        <nav>
            <a href="/login">Login</a>
            <a href="/appointments">Book Appointment</a>
            <a href="/patients">Patient Dashbaord</a>
        </nav>
    </header>
    <div class="container">

        <!-- Appointment Form -->
        <div class="form-container">
            <h2>Book an Appointment</h2>
            <form id="appointmentForm" method="POST" action="/book">
                <label for = "patient"> Your First and Last Name</label>
                <input type = "text" id = "patient" name = "patient" required>
                
                <label for="date">Select Date</label>
                <input type="date" id="date" name="date" requried>

                <label for="time">Select Time</label>
                <input type="time" id="time" name="time" required>

                <label for="doctor">Select Doctor</label>
                <select id="doctor" name="doctor" required>
                    <option value="select-doctor">--Select doctor--</option>
                    {% for doctor in doctors %}  
                    <option value ="{{ doctor }}">Dr. {{ doctor }}</option>
                    {% endfor %}
                </select>

                <label for="reason">Reason for Visit</label>
                <textarea id="reason" name="reason" required></textarea>

                <button type="submit">Book Appointment</button>
            </form>
        </div>
        <!-- Static Appointment List-->
         
        <h2>Upcoming Appointments</h2>
        <!-- <ul id="appointmentsList"></ul> -->
        <table>
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Reason for Visit</th>
                </tr>
            </thead>
            <tbody id="appointmentsTableBody">
                {% for appt in appointments %}  
                <tr>
                    <td>{{appt.patient }}</td>
                    <td>{{appt.date }}</td>
                    <td>{{appt.time }}</td>
                    <td>{{appt.doctor }}</td>
                    <td>{{appt.reason }}</td>
                    <td>
                        <button onclick="confirmDelete('{{ appt.AppointmentID }}')">Delete</button>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>


    <script>
        async function getApptsFromDB() {
            const response = await fetch('/api/appointments');
            const appointments = await response.json();
            const appointmentsTableBody = document.getElementById('appointmentsTableBody');
            appointmentsTableBody.innerHTML = '';

            appointments.forEach((appointment) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${appointment.patient}</td>
                    <td>${appointment.date}</td>
                    <td>${appointment.time}</td>
                    <td>${appointment.doctor}</td>
                    <td>${appointment.reason}</td>
                   <td><button onclick="confirmDelete('${appointment.AppointmentID}')">Delete</button></td>
                `;
                appointmentsTableBody.appendChild(row);
            });
        }
        
        document.getElementById('appointmentForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = {
                patient: document.getElementById('patient').value,
                date: document.getElementById('date').value,
                time: document.getElementById('time').value,
                doctor: document.getElementById('doctor').value,
                reason: document.getElementById('reason').value
            };

            const response = await fetch('/book', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'
                }, 
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                document.getElementById('appointmentForm').reset();
                await getApptsFromDB();
            } else {
                alert('Cannot book the appointment.');
            }
            
        });

        window.onload = getApptsFromDB;

        function confirmDelete(id) {
            if (confirm("Do you want to delete this appointment? Once you do it will be deleted forever.")) {
                fetch(`/delete/${id}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            getApptsFromDB();
                        } else {
                            alert("Was not able to delete appointment.");
                        }
                    });
            }
        }
    </script>
</body>
</html>